<!DOCTYPE html>
<html>

<body>
<a href="https://www.etsy.com/oauth/connect?response_type=code&redirect_uri=http://localhost:3003/oauth/redirect&scope=shops_r%20email_r%20address_r%20transactions_r%20listings_r&client_id=l5ojoh90avxodqkuo38nf37z&state=un4qt7&code_challenge=xR_0X6wqs2VP4f2LHR9rSL6fj4KlJIVoWBgdzRwjxhk&code_challenge_method=S256">
    Authenticate with Etsy
</a>
</body>

</html>