<!DOCTYPE html>
<html>

<head>
    <title>Etsy Inventory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container mt-4">
        <p>If you are not redirected automatically, please use the main dashboard.</p>
        <a href="/" class="btn btn-primary">Go to Dashboard</a>
    {{!-- Use the app route that builds scopes/server-side - avoids stale/invalid scope lists in templates --}}
    <a href="/settings/connect-etsy" class="btn btn-secondary">Connect to Etsy</a>
    </div>
</body>

</html>